mixin head(map)
  head
    title= 'NOAM.RU' + (page_title ? ' ' + page_title : '')

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')

    link(rel='apple-touch-icon' href='/favicon_58x58.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/favicon_76x76.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/favicon_120x120.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/favicon_152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/favicon_180x180.png')
    link(rel='apple-touch-startup-image' href='/favicon_512x512.png')
    link(rel='icon' sizes='192x192' href='/favicon_192x192.png')
    link(rel='icon' sizes='120x120' href='/favicon_120x120.png')
    link(rel='apple-touch-icon-precomposed' sizes='57x57' href='/favicon_58x58.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/favicon_72x72.png')
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')

    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    link(rel='stylesheet' href=`css/fonts.css?stamp=${stamp}`)
    link(rel='stylesheet' href=`css/styles.css?stamp=${stamp}`)
    if (map)
      link(rel='stylesheet' href=`css/map_styles.css?stamp=${stamp}`)

