include ../includes/data
include ../includes/require
include head
include ../mixins/img
include ../mixins/icon

- const stamp = Math.round(new Date().getTime() / 1000)
- let show_footer = true
- let popular_tags = true
- let page_title = ''
- let html_class = ''
- let header_class = ''
- let footer_class = '__short'

block variables

doctype html
html(lang='' class= html_class + (html_class === '__map-aside' ? ' __scroll' : ''))
  +head(map)

  body
    .page
      include ../blocks/header_2

      .content
        block content

      if (show_footer)
        include ../blocks/footer
      include ../blocks/popup

    .page-overlay.js-map-overlay

    if (map)
      script(src=`js/leaflet.js?stamp=${stamp}`)
      script(src=`js/markercluster.js?stamp=${stamp}`)
      //script(src=`js/easybutton.js?stamp=${stamp}`)
      //script(src=`js/markertags.js?stamp=${stamp}`)
      script(src=`js/minimap.js?stamp=${stamp}`)
      script(src=`js/map.js?stamp=${stamp}`)
    script(src=`js/app.js?stamp=${stamp}`)
    script(src=`js/assets.js?stamp=${stamp}`)
