include ../includes/data
include ../includes/require
include head
include ../mixins/img
include ../mixins/icon

- const stamp = Math.round(new Date().getTime() / 1000)
- let show_footer = true
- let html_class = ''
- let header_class = ''

block variables

doctype html
html(lang='' class= html_class)
  +head(map)

  body
    .page
      include ../blocks/header

      .content
        block content

      if (show_footer)
        include ../blocks/footer
      include ../blocks/popup

    .page-overlay.js-burger

    if (map)
      script(src=`js/leaflet.js?stamp=${stamp}`)
      script(src=`js/markercluster.js?stamp=${stamp}`)
      script(src=`js/minimap.js?stamp=${stamp}`)
      script(src=`js/map.js?stamp=${stamp}`)
    script(src=`js/app.js?stamp=${stamp}`)
    script(src=`js/assets.js?stamp=${stamp}`)
