include ../includes/data
include ../includes/require
include head
include ../mixins/img
include ../mixins/icon

- const stamp = Math.round(new Date().getTime() / 1000)
- let map_card_page = false
- let map_1 = false
- let map_2 = false
- let show_footer = true
- let popular_tags = true
- let page_title = ''
- let html_class = '__page-aside'
- let aside_class = 'wide-only'
- let header_class = ''
- let footer_class = '__short'
- let header_auth = ''

block variables

doctype html
html(lang='' class= html_class + (html_class === '__map-aside' ? ' __scroll' : '') + (map_2 ? ' __list-aside-open __mode-map-2' : '') + (header_auth ? ' __no-map-btn' : ''))
  +head(map_card_page || map_1 || map_2)

  body
    .page
      include ../blocks/header_2

      .content
        block content

      if (show_footer)
        include ../blocks/footer
      include ../blocks/popup

    .page-overlay.js-map-overlay

    //script(src=`js/assets.js?stamp=${stamp}`)
    if (map_card_page || map_1 || map_2)
      script(src=`js/leaflet.js?stamp=${stamp}`)
      script(src=`js/markercluster.js?stamp=${stamp}`)
      script(src=`js/minimap.js?stamp=${stamp}`)
      script(src=`js/map.js?stamp=${stamp}`)
    script(src=`js/app.js?stamp=${stamp}`)
    script(src=`js/select.js?stamp=${stamp}`)
