include ../includes/data
include ../includes/require

include ../mixins/img
include ../mixins/icon

- const stamp = Math.round(new Date().getTime() / 1000)

block variables

doctype html
html(lang='')
  include head

  body
    .page
      include ../blocks/header

      .content
        block content

      include ../blocks/footer
      include ../blocks/popup

    if (map)
      script(src=`js/leaflet.js?stamp=${stamp}`)
      script(src=`js/markercluster.js?stamp=${stamp}`)
      script(src=`js/map.js?stamp=${stamp}`)
    script(src=`js/app.js?stamp=${stamp}`)
    script(src=`js/assets.js?stamp=${stamp}`)
