- let portalMap = {lenta: 'lenta.ru', sports: 'sports.ru', zr: 'zr.ru', tass: 'tass.ru' };


mixin check(text, checked)
  label.check
    input.hide(type='checkbox', checked= checked)
    +icon('check').check-icon
    span.check-text= text

mixin icon(name)
  svg&attributes(attributes)
    use(xlink:href=`/assets/sprite/icon.svg#icon_${name}`)

mixin nav(footer)
  - let list = ['Главное', 'Коронавирус', 'Политика', 'Спорт', 'Наука', 'Бизнес', 'Технологии'];
  ul.nav
    each item, index in list
      li(class= index ? '' : 'active'): a.nav-link(href='#')= item
    if (footer)
      li: a.nav-link(href='#')
        +icon('whatshot').btn-icon.icon-red
        span Новости&nbsp;на&nbsp;карте

mixin logo()
  .logo-holder
    a.logo(href='/') NOAM.RU

mixin card(title, portal, date, img, cls, description, views, partner)
  a.card(href='card.html' class= (img ? '' : ' __text ') + (cls || ''))
    if (img)
      .card-preview
        +img(img)
    if (portal || views || (partner && date))
      .card-info
        if (portal)
          span.card-logo
            +img('logo/' + portal + '.png')
            span.card-portal= portal + '.ru'
        if (views)
          span.card-views
            +icon('eye')
            span= views
        if (partner && date)
          span.card-date= date

    .card-title= title

    if (description)
      .card-description= description

    if (date && !partner)
      .card-footer
        .card-tag Политика
        .card-date= date

mixin map_card(title, portal, tags, img, cls, description, icon_cls, icon)
  .card(class= (img ? '' : ' __text ') + (cls || ''))
    if (portal)
      .card-info
        .card-tags
          if (icon)
            .card-icon(class= icon_cls)
              +icon(icon).btn-icon
          if (tags && tags.length)
            each tag in tags
              span= tag
        if (portal)
          if (portal === 'share')
            a.card-share(href='card_map.html')
              span Поделиться новостью
              +icon('launch').btn-icon
          else
            span.card-logo
              +img('logo/' + portal + '.png')
              span.card-portal= portal + '.ru'

    .card-title= title

    if (img)
      .card-preview.__map
        +img(img)

    if (description)
      .card-description= description

    .card-footer
      a.card-share(href='card_map.html')
        span Поделиться новостью
        +icon('launch').btn-icon

      a.card-link(href='card_2.html')
        span Читать далее
        +icon('arrow_ne').btn-icon

mixin search(map)
  form.header-search(action='#')
    if (!map)
      .header-search__input
        input.input.input-transp.__s-100p(placeholder='Поиск')

      button.btn.btn-search(type='submit')
        +icon('search').btn-icon

mixin currency()
  ul.currency-menu
    li: span.header-menu__icon
      span.currency-name USD:
      span.currency-value 60,60
      span.currency-trend.__down 0,13

    li: span.header-menu__icon
      span.currency-name EUR:
      span.currency-value 60,97
      span.currency-trend.__up 0,59

    li: span.header-menu__icon
      span.currency-name Brent:
      span.currency-value 60,60
      span.currency-trend.__up 1,47

mixin user(map)
  - let user_cls = map ? 'mob-hide' : ''
  ul.user-menu
    if (!map)
      li: span.header-menu__icon.js-popup(data-popup='#modal_location')
        +icon('nav').btn-icon
        span(class= user_cls) Санкт-Петербург

    li(class= user_cls): span.header-menu__icon.js-popup(data-popup='#modal_auth')
      +icon('user').btn-icon
      span Войти

    if (map)
      li.mob-only: span.header-menu__icon.js-toggle-mobile-map.__active
        +icon('map').btn-icon

      li.mob-only: span.header-menu__icon.js-toggle-mobile-map
        +icon('view_agenda').btn-icon
