- let portalMap = {lenta: 'lenta.ru', sports: 'sports.ru', zr: 'zr.ru', tass: 'tass.ru' };


mixin check(text, checked)
  label.check
    input.hide(type='checkbox', checked= checked)
    +icon('check').check-icon
    span.check-text= text

mixin icon(name)
  svg&attributes(attributes)
    use(xlink:href=`/assets/sprite/icon.svg#icon_${name}`)

mixin nav(footer)
  - let listHeader = ['Главное', 'Коронавирус', 'Политика', 'Спорт', 'Наука', 'Бизнес', 'Ещё'];
  - let listFooter = ['Главное', 'Коронавирус', 'Политика', 'Спорт', 'Наука', 'Бизнес', 'Технологии'];

  if (footer)
    ul.nav(class= map_2 ? 'mob-only' : '')
      each item, index in listFooter
        li(class= index ? '' : 'active'): a.nav-link(href='#')= item

      li: a.nav-link(href='#')
        +icon('whatshot').btn-icon.icon-red
        span Новости&nbsp;на&nbsp;карте
  else
    ul.nav(class= map_2 ? 'mob-only' : '')
      each item, index in listHeader
        li(class= index ? '' : 'active')
          if (index === listHeader.length - 1)
            span.nav-link(href='#')
              span= item
              +icon('arrow_d').btn-icon
            ul.nav-dropdown
              li: a.nav-link(href='#') Красота
              li: a.nav-link(href='#') Авто и мото
              li: a.nav-link(href='#') Шоу-бизнес
          else
            a.nav-link(href='#')= item

mixin category(title)
  .category-wrapper
    .category-title= title
    ul.card-holder.__grid
      +loop_while(3)
        li.grid-item.__category.__w-1
          +card('Касаткина обыграла Гауфф, одержав первую победу на Итоговом турнире WTA', 'lenta', '08.12.21 10:35', 'category/category_1.jpg', '', 'Российская теннисистка Дарья Касаткина обыграла представительницу США Кори Гауфф на Итоговом турнире WTA со счётом 7:6 (8:6), 6:3. Продолжительность встречи составила 1 час 42 минуты.', '12564')
        li.grid-item.__category.__w-1
          +card('Овечкин догнал Оутса в списке лучших бомбардиров НХЛ', 'lenta', '08.12.21 10:35', 'category/category_1.jpg', '', 'Российская теннисистка Дарья Касаткина обыграла представительницу США Кори Гауфф на Итоговом турнире WTA со счётом 7:6 (8:6), 6:3. Продолжительность встречи составила 1 час 42 минуты.', '12564')

    +pagination()

mixin pagination()
  .pagination
    a.btn.btn-page.__s-40.btn-white.__disable(href='#')
      +icon('arrow_l').btn-icon
    a.btn.btn-page.__s-40.btn-white.__active(href='#') 1
    a.btn.btn-page.__s-40.btn-white(href='#') 2
    a.btn.btn-page.__s-40.btn-white(href='#') 3
    a.btn.btn-page.__s-40.btn-white(href='#') 4
    a.btn.btn-page.__s-40.btn-white(href='#')
      +icon('arrow_r').btn-icon

mixin logo()
  .logo-holder
    a.logo(href='/') NOAM.RU

mixin card(title, portal, date, img, cls, description, views, partner)
  a.card(href='card.html' class= (img ? '' : ' __text ') + (cls || ''))
    if (img)
      .card-preview
        +img(img)
    if (portal || views || (partner && date))
      .card-info
        if (portal)
          span.card-logo
            +img('logo/' + portal + '.png')
            span.card-portal= portal + '.ru'
        if (views)
          span.card-views
            +icon('eye')
            span= views
        if (partner && date)
          span.card-date= date

    .card-title= title

    if (description)
      .card-description= description

    if (date && !partner)
      .card-footer
        .card-tag Политика
        .card-date= date

mixin map_card(title, portal, tags, img, cls, description, icon_cls, icon)
  .card(class= (img ? '' : ' __text ') + (cls || ''))
    if (portal)
      .card-info
        .card-tags
          if (icon)
            .card-icon(class= icon_cls)
              +icon(icon).btn-icon
          if (tags && tags.length)
            each tag in tags
              span= tag
        if (map_2)
          span.card-logo.__link.js-toggle-mobile-map-2
            +icon('map').btn-icon
        if (portal)
          if (portal === 'share')
            a.card-share(href='card_map.html')
              span Поделиться новостью
              +icon('launch').btn-icon
          else
            span.card-logo
              +img('logo/' + portal + '.png')
              span.card-portal= portal + '.ru'

    .card-title= title

    if (img)
      .card-preview.__map
        +img(img)

    if (description)
      .card-description= description

    .card-footer
      a.card-share(href='card_map.html')
        span Поделиться новостью
        +icon('launch').btn-icon

      a.card-link(href='card_2.html')
        span Читать далее
        +icon('arrow_ne').btn-icon

mixin search(map)
  form.header-search(action='#')
    if (!map)
      .header-search__input
        input#js-autocomplete.input.input-transp.__s-100p(placeholder='Поиск')
        .header-search__clear.js-search-clear
          +icon('close').btn-icon
      button.btn.btn-search(type='submit')
        +icon('search').btn-icon

mixin currency()
  ul.currency-menu
    li: span.header-menu__icon
      span.currency-name USD:
      span.currency-value 60,60
      span.currency-trend.__down 0,13

    li: span.header-menu__icon
      span.currency-name EUR:
      span.currency-value 60,97
      span.currency-trend.__up 0,59

    li: span.header-menu__icon
      span.currency-name Brent:
      span.currency-value 60,60
      span.currency-trend.__up 1,47

mixin aside(no_content)
  if (no_content)
    .hero-aside(class= (aside_class))
      .promo
        span Реклама

  else
    .hero-aside(class= (aside_class))
      .hero-aside__head
        .hero-aside__caption Новости часа
        a.btn.btn-gray-light.btn-aside.__s-45(href='#')
          +icon('reload').btn-icon
          span Показать 11 новых новостей

      ul.hero-aside__list#js-autocomplete-source
        +loop_while(8)
          li
            +card('Легендарный инвестор предупредил мир о финансовой катастрофе', 'tass', '', '', '', 'ХХ съезд Коммунистической партии Китая, вероятно, ознаменуется решением о третьем сроке Си Цзиньпина.', '12564')
          li
            +card('В разных частях зала: почему Иван Ургант с отцом сидели отдельно друг от друга на похоронах Нины Ургант', 'zr', '', '', '', '', '12564')
          li
            +card('Звезда Instagram убила свою мать и вырезала ее еще бьющееся сердце', 'lenta', '', '', '', 'ХХ съезд Коммунистической партии Китая, вероятно, ознаменуется решением о третьем сроке Си Цзиньпина.', '12564')
          li
            +card('Лапорта о вылете «Барсы» из ЛЧ: «Мы все должны грести в одном направлении и менять сложную спортивную и финансовую ситуацию в клубе»', 'sports', '', '', '', '', '12564')

      .hero-aside__footer.wide-hide
        a.btn.btn-gray-light.btn-aside.__s-45(href='#')
          +icon('arrow_d').btn-icon
          span.fw-600 Показать больше

mixin user(map)
  - let user_cls = map === 'map' ? 'mob-hide' : ''
  ul.user-menu
    if (map !== 'map' || map_2)
      li: span.header-menu__icon.js-popup(data-popup='#modal_location')
        +icon('nav').btn-icon
        +icon('arrow_r').mob-only.btn-icon.__arrow
        span(class= user_cls) Санкт-Петербург

    li(class= user_cls): span.header-menu__icon.js-popup(data-popup='#modal_auth')
      +icon('user').btn-icon
      +icon('arrow_r').mob-only.btn-icon.__arrow
      if (header_auth)
        span.header-menu__name= header_auth
        +icon('exit').btn-icon
      else
        span Войти

    //-if (map === 'inner')
      li.exwide-hide.mob-hide: a.header-menu__icon.btn.btn-red.btn-map(href='livemap.html')
        +icon('whatshot').btn-icon
        span Новости на карте

    if (map === 'map')
      li.mob-only: span.header-menu__icon.js-toggle-mobile-map.__active
        +icon('map').btn-icon

      li.mob-only: span.header-menu__icon.js-toggle-mobile-map
        +icon('view_agenda').btn-icon

mixin partners_section()
  .section.__black.__content
    .section-title.__partner Партнерская секция

    .partners-holder
      .partners-main
        +card('Антиковидная галерея с главной мотоциклетной выставки мира EICMA', '', '', 'partners/partner_big.jpg', '', '', '', true)

      .partner-group.__group-1
        +card('Почему BMW M3 оказалась круче M4? Тест на треке!', '', '08.12.21 01:56', 'partners/partner_1.jpg', '', '', '', true)
        +card('«Китайцы» перешли в наступление: 15 популярных кроссоверов России', '', '08.12.21 01:56', 'partners/partner_2.jpg', '', '', '', true)

      .partner-group.__group-2
        +card('Volkswagen показал новый Amarok', '', '08.12.21 01:56', 'partners/partner_3.jpg', '', '', '', true)
        +card('Продажи новых китайских автомобилей в России бьют рекорды', '', '08.12.21 01:56', 'partners/partner_4.jpg', '', '', '', true)

      .partners-text
        ul.card-holder
          +loop_while(1)
            li.__no-img
              +card('В кроссоверах Ford начали использовать выловленный из океана пластик', '', '08.12.21 10:35', '', '', '', '', true)

            li.__no-img
              +card('Volvo готовит для России две новинки в 2022 году', '', '08.12.21 10:35', '', '', '', '', true)

mixin card_article_section()
  .section.__white.__content.__article
    .article
      h1 В Англии сообщили об аресте всемирно известного футболиста АПЛ по подозрению в изнасиловании

      .card-info
        span.card-tag Политика
        span.card-logo
          +img('logo/lenta.png')
          span.card-portal lenta.ru
        span.card-date 09.12.21 11:56
        span.card-views
          +icon('eye')
          span 12564
      .card-content
        .article-image.__fit
          +img('article/article_2.jpg')

        p Футболист одного из клубов Английской премьер-лиги (АПЛ) был арестован в северной части Лондона по подозрению в изнасиловании. Об этом сообщает The Telegraph.
        p Источник умалчивает фамилию игрока, но отмечает, что речь идет о всемирно известном футболисте, который должен выступить на чемпионате мира — 2022 в Катаре.
        p Также сообщается, что спортсмен проживает в Северном Лондоне. Ему от 26 до 29 лет. Другие подробности не сообщаются.

        .article-controls
          a.btn.btn-black.__s-45.btn-auth(href='#')
            span Продолжить чтение в источнике
            +icon('arrow_ne').btn-icon

        +article_controls(true)

  .section.__white.__content.__article
    .section-title
      span Читайте также

    ul.card-holder.__grid.js-grid
      +loop_while(2)
        li.grid-item
          +card('«Челси» и «Зенит» сыграли вничью в заключительном матче Лиги чемпионов', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
        li.grid-item
          +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
        li.grid-item
          +card('«Барселона» впервые за 16 лет не сыграет в плей-офф ЛЧ', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')
        li.grid-item
          +card('В Хакасии утвердили закон о доплате к пенсии', 'lenta', '08.12.21 10:35', 'news/sport.jpg', '', '', '12564')

mixin article_controls(extend)
  .article-controls.__info
    if (extend)
      .article-buttons
        ul.article-buttons__list
          each soc in ['vk', 'fb', 'tw', 'ok']
            li: a.social-link(href='#')
              +icon(soc)

    +icon('info').article-controls__icon
    a.article-controls__link.js-popup(data-popup='#modal_complain' href='#') Пожаловаться на материал

  if (extend)
    dl.article-controls.__tags
      dt Автор:
      dd #[a(href='#') Максим Лесовой]
      dt Теги:
      dd #[a(href='#') Хоккей], #[a(href='#') НХЛ], #[a(href='#') Вашингтон Кэпиталз], #[a(href='#') Александр Овечкин], #[a(href='#') Статистика], #[a(href='#') Детройт Ред Уингз]
