- let portalMap = {lenta: 'lenta.ru', sports: 'sports.ru', zr: 'zr.ru', tass: 'tass.ru' };


mixin check(text, checked)
  label.check
    input.hide(type='checkbox', checked= checked)
    +icon('check').check-icon
    span.check-text= text

mixin icon(name)
  svg&attributes(attributes)
    use(xlink:href=`/assets/sprite/icon.svg#icon_${name}`)

mixin nav()
  - let list = ['Главное', 'Коронавирус', 'Политика', 'Спорт', 'Наука', 'Бизнес', 'Технологии'];
  ul.nav
    each item, index in list
      li(class= index ? '' : 'active'): a.nav-link(href='#')= item

mixin logo()
  .logo-holder
    a.logo(href='#') NOAM.RU

mixin card(title, portal, date, img, cls, description, views, partner)
  a.card(href='index.html' class= (img ? '' : ' __text ') + (cls || ''))
    if (img)
      .card-preview
        +img(img)
    if (portal || views || (partner && date))
      .card-info
        if (portal)
          span.card-logo
            +img('logo/' + portal + '.png')
            span.card-portal= portal + '.ru'
        if (views)
          span.card-views
            +icon('eye')
            span= views
        if (partner && date)
          span.card-date= date

    .card-title= title

    if (description)
      .card-description= description

    if (date && !partner)
      .card-footer
        .card-tag Политика
        .card-date= date

mixin currency()
  ul.currency-menu
    li: span.header-menu__icon
      +icon('dollar')
      span 73,59

    li: span.header-menu__icon
      +icon('euro')
      span 83,43

    li: span.header-menu__icon
      +icon('energy')
      span 76.49

mixin user()
  ul.user-menu
    li: span.header-menu__icon.js-popup(data-popup='#modal_location')
      +icon('nav')
      span Краков

    li: span.header-menu__icon.js-popup(data-popup='#modal_auth')
      +icon('user')
      span Войти

